$white: #fff;
$black: #000;

$primaryColor: #335577;
$primaryColorLight: #557799;
$secondaryColor: #aabbcc;
$secondaryColorDark: #8899aa;

$green: #00ff00;
$red: #ff0000;

$mobile-large: 30em; // 480px
$tablet-small: 48em; // 768px